#mainNav .navbar-brand {
    background: url(/1.png);
}

#mainNav .navbar-nav>li.nav-item>a.nav-link,
#mainNav .navbar-nav>li.nav-item>a.nav-link:focus {
    color: #000;
}

.col.heder {
    margin-left: auto;
    margin-top: 550px;
    margin-right: auto;
    position: relative;
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
}

.img {
    margin-top: 10px;
}

.head {
    text-align: center;
}

.col.1 {
    position: relative;
    padding-left: 15%;
    padding-right: 15%;
}

.iconFont {
    font-size: 4em;
    color: #f05f40;
    padding-bottom: 10px;
}

.iconFont.black {
    color: black;
}