{% load static from staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>register</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/authentic/Registration-Form-with-Photo.css' %}">
</head>

<body>
    <div class="register-photo">
        <div class="form-container">
            <div class="image-holder" style="background: url({% static 'img/9097.jpg' %})"></div>
            <form method="post">
                <h2 class="text-center"><strong>Create</strong> an account.</h2>
                <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email"></div>
                <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password"></div>
                <div class="form-group"><input class="form-control" type="password" name="password-repeat" placeholder="Ulangi Password"></div>
                <div class="form-group">
                    <div class="form-check"><label class="form-check-label"><input class="form-check-input" type="checkbox">Saya setuju dengan S&K yang berlaku.</label></div>
                </div>
                <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Daftar</button></div>
                <a class="already" href="#">Sudah Memiliki Akun? Ya login Lah -_- </a></form>
        </div>
    </div>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>