{% extends "base_logged.html" %}
{% load static from staticfiles %}
{% block content %}
    <div style="height: 450px;top: 0PX;background: url({% static 'img/74.jpg' %});background-size: 100%;position: relative;background-repeat: no-repeat;"></div>
    <div style="position: relative;height: 100px;">
        <h1 style="position: relative;left: 790px;font-size: 12px;top: 20px;">Starting at</h1>
    <h1 style="position: relative;left: 790px;font-size: 32px;top: 20px;">IDR. {{harga}}</h1>
    <h1 style="position: absolute;width: 450px;margin-left: 50px;margin-top: -40px;">{{nama |upper}}</h1>
    </div>
    <div >
        <div style="position: fixed;width: 650px;height: 500px;background: url({% static 'img/134.png' %});background-size: 100%;background-repeat: no-repeat;position: relative;"></div>
    </div>
    {% include "beli.html" %}
    <div style="margin-left: 700px;margin-top: -400px;position: relative;">
        <div class="table-responsive">
            <table class="table">
            <thead>
                <tr></tr>
            </thead>
            <tbody>
                <tr>
                    <td>Dimension</td>
                    <td>{{P}}&nbsp;mm P x {{L}}&nbsp;mm L x {{T}}&nbsp;mm T<br></td>
                </tr>
                <tr>
                    <td>Mesin</td>
                    <td>{{mesin}} cc<br></td>
                </tr>
                <tr>
                    <td>Tenaga</td>
                    <td>{{tenaga}} hp<br></td>
                </tr>
                <tr>
                    <td>Kursi</td>
                    <td>{{kursi}} Kursi<br></td>
                </tr>
                <tr>
                    <td>Transmisi</td>
                    {% if transmisi == 2 %}
                        <td>Manual, Otomatis<br></td>                
                    {% else %}
                    {% endif %}
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div style="height: 800px;">
    <div style="margin-top: 180px;width: 650px;height: 400px;background: url({% static 'img/82.png' %});background-size: 100%;background-repeat: no-repeat;position: relative;"></div>
    <div style="margin-top: -350px;margin-left: 650px;width: 500px;height: 400px;background: url({% static 'img/71.jpg' %});background-size: 100%;background-repeat: no-repeat;position: relative;"></div>
    <div style="margin-top: -70px;margin-left: 20px;width: 600px;height: 400px;background: url({% static 'img/3321.png' %});background-size: 100%;background-repeat: no-repeat;position: relative;"></div>
    <div style="margin-top: -370px;margin-left: 650px;width: 500px;height: 400px;background: url({% static 'img/6532.jpg' %});background-size: 100%;background-repeat: no-repeat;position: relative;"></div>
</div>
{% endblock %}