.gambarUtama {
    width: 100%;
    height: 550px;
    background-size: 100% !important;
}

.linkUtama {
    background-size: 100%;
    width: 130px;
    height: 50px;
    background-repeat: no-repeat !important;
}