body {
    overflow-x: hidden;
}


/* nav{
    position: ;
} */

.gambarUtama {
    width: 100vw;
    height: 460px;
    background-size: 100% !important;
    background-repeat: no-repeat !important;
}

.gambarUtama:hover {
    cursor: pointer;
}

.linkUtama {
    background-size: 100%;
    width: 130px;
    height: 50px;
    background-repeat: no-repeat !important;
}

input {
    border-radius: 7px;
    outline: none;
    border-style: groove;
    background: transparent;
    width: 600px;
    height: 50px;
    color: #000;
    margin-top: 20px;
    margin-left: 50px;
}