.gambarMobil {
    min-height: 560px;
    max-height: 100vh;
    background-size: 100% !important;
    background-repeat: no-repeat !important;
    padding: 10px;
    margin: 10px 0;
}

.gambarMobil:hover {
    cursor: pointer;
}