{% load static from staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Beranda</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/Navigation-with-Button.css' %}">
    <link rel="stylesheet" href="{% static 'css/homepage_logged.css' %}">
    {% block more_styles %}{% endblock more_styles %}
</head>

<body>
    <div>
        <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
            <div class="container"><a class="navbar-brand linkUtama" href="{% url 'homepage:index' %}" style="background: url('{% static 'img/logo-ham.jpg' %}');"></a>

                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link {{is_sedan}}" href="/detail/sedan">Sedan</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link {{is_mpv}}" href="/detail/mpv">MPV</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link {{is_suv}}" href="/detail/suv">SUV</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link {{is_hatchback}}" href="/detail/hatchback">Hatchback</a></li>
                </ul>
                <div class="collapse navbar-collapse" id="navcol-1"><span class="navbar-text actions" style="margin-left: auto;"> <a class="login" href="#">Halo,{{nama_lengkap}}</a><a class="btn btn-light action-button" role="button" href="{% url 'authentication:logout' %}">Logout</a></span></div>
            </div>
        </nav>
    </div>
    {% block content %}{% endblock content %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/daftar.js' %}"></script>
    {% block more_js %}{% endblock more_js %}
</body>

</html>