{% extends "base_logged.html" %}
{% load static from staticfiles %}
{% block content %}

<div style="position: fixed;height: 270px;top: 50PX;background: url({% static 'img/q.jpg' %});background-size: 100%;position: relative;background-repeat: no-repeat;"></div>
   <div style="margin-top: 50px;height: 100px;">
       <h4 style="margin-top: 100px;text-align: center;font-family: sans-serif;font-variant: initial;font-size: 40px;"><strong>Data anda sudah terekam</strong></h4>
       <h1 style="text-align: center;font-family: sans-serif;font-variant: initial;font-size: 20px;">Silakan kunjungi Dealer terdekat</h1>
   </div>
</div>
{% endblock content %}
