<!DOCTYPE html>
{% extends "base_logged.html" %}
{% load static from staticfiles %}
{% block content %}

    <div style="position: fixed;height: 270px;top: 50PX;background: url({% static 'img/w.jpg' %});background-size: 100%;position: relative;background-repeat: no-repeat;"></div>
    <div style="margin-top: 50px;height: 200px;">
        <h1 style="margin-top: 100px;margin-left: 50px;font-family: sans-serif;font-variant: initial;"><strong>Terimakasih atas Ketertarikan Anda</strong><br></h1>
        <h4 style="margin-left: 50px;font-size: 20px;"><br>Untuk melakukan <strong>KONSULTASI PEMBELIAN</strong> atau <strong>TEST DRIVE</strong><br><br>silakan isi Form dibawah ini, kunjungi dealer&nbsp;<strong>TOYOTA</strong> terdekat<br><br></h4>
    </div>
        <form action="{% url 'pesan:proses' %}" method="post" style="height: 850px;">
            <h3 style="margin-left: 50px;font-family: sans-serif;font-variant: initial;">
                <strong>Informasi data pribadi</strong>
                <br>
            </h3>
            {{form.nama_lengkap}}
            {{form.alamat_lengkap}}
            {{form.no_telp}}
            {{form.email}}
            {{form.kota}}
            {{form.provinsi}}
            {% csrf_token %}
            <br>
            <button class="btn-primary" type="submit" style="width: 100px;margin-left: 50px;margin-top: 20px;color: rgb(255,255,255);">Kirim</button>
        </form>
{% endblock content %}