{% if nama == 'corolla altis'%}
<button class="btn btn-primary" href="/pesan/corolla" type="button" style="margin-left: 760px;margin-top: -100px;width: 330px;">Beli Mobil</button></div>
{% else %}
<button class="btn btn-primary" href="/pesan/{{nama}}" type="button" style="margin-left: 760px;margin-top: -100px;width: 330px;">Beli Mobil</button></div>
{% endif %}
