{% load static from staticfiles %}
{% load fontawesome_5 %}
<!DOCTYPE html>
<html>

<head>
    {% fontawesome_5_static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
    <link rel="stylesheet" href="{% static 'Team-Grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/homepage/homepage.css' %}">
</head>

<style>
    head {
        
    }
    
</style>

<body id="page-top">
    <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav" style="background-color: #ffffff;">
        <div class="container">
            <img src="{% static 'img/1.png' %}" style="width: 60px;">
            <button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-align-justify"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="SUV">SUV</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="MPV">MPV</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="SEDAN">SEDAN</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="HATCHBACK">HATCHBACK</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="dealer">Dealer</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="service">Service</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="cek">LOGOUT</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead text-center text-white d-flex" style="background-image: url({% static 'img/3.jpg' %});"></header>
    <section id="about" class="bg-primary">
        <div class="container">
            <div class="row">
                <div class="col offset-lg-8 mx-auto text-center">
                    <h2 class="text-white section-heading">TOYOTA IN INDONESIA</h2>
                    <hr class="light my-4">
                    <p class="text-faded mb-4"><br>Berkontribusi kepada bangsa dan masyarakat melalui praktik profesional <br>di bidang pemasaran produk-produk dan jasa pelayanan kepada pelanggan <br>yang berkualitas tinggi dalam lingkungan. Tumbuh berkembang bersama <br>dengan
                        karyawan, pemasok, dealer-dealer utama dan dealer-dealer dengan <br>saling percaya dan menghormati.<br><br></p>
                </div>
            </div>
        </div>
    </section>
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Service</h2>
                    <hr class="my-4">
                </div>
            </div>
        </div>
        <

<div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3 text-center">
                    <div class="mx-auto service-box mt-5"><i class="fa fa-building fa-4x text-primary mb-3 sr-icons" data-aos="zoom-in" data-aos-duration="200" data-aos-once="true"></i>
                        <h3 class="mb-3">Dealers</h3><button class="btn btn-primary" type="button">click here</button></div>
                </div>
                <div class="col-md-6 col-lg-3 text-center">
                    <div class="mx-auto service-box mt-5"><i class="fa fa-book fa-4x text-primary mb-3 sr-icons" data-aos="zoom-in" data-aos-duration="200" data-aos-delay="200" data-aos-once="true"></i>
                        <h3 class="mb-3">Book a Service</h3><button class="btn btn-primary" type="button">click here</button></div>
                </div>
                <div class="col-md-6 col-lg-3 text-center">
                    <div class="mx-auto service-box mt-5"><i class="fa fa-automobile fa-4x text-primary mb-3 sr-icons" data-aos="zoom-in" data-aos-duration="200" data-aos-delay="400" data-aos-once="true"></i>
                        <h3 class="mb-3">Car</h3><button class="btn btn-primary" type="button">click here</button></div>
                </div>
                <div class="col-md-6 col-lg-3 text-center">
                    <div class="mx-auto service-box mt-5"><i class="fa fa-dollar fa-4x text-primary mb-3 sr-icons" data-aos="fade" data-aos-duration="200" data-aos-delay="600" data-aos-once="true"></i>
                        <h3 class="mb-3">Pricelist</h3><button class="btn btn-primary" type="button">click here</button></div>
                </div>
            </div>
        </div>
    </section>
    <section id="about" class="bg-primary">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2 class="text-white section-heading" style="text-align: center;color: #000;">CONTACT</h2>
                    <hr class="light my-4">
                </div>
            </div>
            <div class="row">
                <div class="col offset-lg-8 mx-auto text-center">
                {% fa5_icon 'phone' 'fas' class="iconFont black"%}
                    <p>1500-315</p>
                </div>
                <div class="col offset-lg-8 mx-auto text-center">
                {% fa5_icon 'envelope' 'fas' class="iconFont black"%}
                    <p>Toyota Astra Motor</p>
                </div>
            </div>
        </div>
    </section>
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
</body>

</html>