{% load static from staticfiles %}
{% load fontawesome_5 %}
<!DOCTYPE html>
<html>

<head>
    {% fontawesome_5_static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
    <link rel="stylesheet" href="{% static 'Team-Grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/homepage/homepage.css' %}">
</head>

<body id="page-top">
    <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav" style="background-color: #ffffff;">
        <div class="container"><img src="{% static 'img/1.png' %}" style="width: 60px;"><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-align-justify"></i></button>
            <div
                class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="SUV">SUV</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="MPV">MPV</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="SEDAN">SEDAN</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="HATCHBACK">HATCHBACK</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="dealer">Dealer</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="service">Service</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="cek">LOGOUT</a></li>
                </ul>
        </div>
        </div>
    </nav>
    <header class="masthead text-center text-white d-flex" style="background-image: url('{% static 'img/4.jpg' %}');">
        <div class="container my-auto">
            <div class="col-lg-8 mx-auto"><a class="btn btn-primary btn-xl js-scroll-trigger" role="button" href="#services">Find Out More</a></div>
        </div>
    </header>
    <header class="masthead text-center text-white d-flex" style="background-image: url('{% static 'img/6.jpg' %}');">
        <div class="container my-auto">
            <div class="col-lg-8 mx-auto"><a class="btn btn-primary btn-xl js-scroll-trigger" role="button" href="#services">Find Out More</a></div>
        </div>
    </header>
    <header class="masthead text-center text-white d-flex" style="background-image: url('{% static 'img/613.jpg' %}');">
        <div class="container my-auto">
            <div class="col-lg-8 mx-auto"><a class="btn btn-primary btn-xl js-scroll-trigger" role="button" href="#services">Find Out More</a></div>
        </div>
    </header>
    <header class="masthead text-center text-white d-flex" style="background-image: url('{% static 'img/6067.jpg' %}');">
        <div class="container my-auto">
            <div class="col-lg-8 mx-auto"><a class="btn btn-primary btn-xl js-scroll-trigger" role="button" href="#services">Find Out More</a></div>
        </div>
    </header>
    <section id="about" class="bg-primary">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2 class="text-white section-heading" style="text-align: center;color: #000;">CONTACT</h2>
                    <hr class="light my-4">
                </div>
            </div>
            <div class="row">
                <div class="col offset-lg-8 mx-auto text-center"><i class="fa fa-phone fa-3x mb-3 sr-contact" data-aos="zoom-in" data-aos-duration="300" data-aos-once="true"></i>
                    <p>1500-315</p>
                </div>
                <div class="col offset-lg-8 mx-auto text-center"><i class="fa fa-envelope-o fa-3x mb-3 sr-contact" data-aos="zoom-in" data-aos-duration="300" data-aos-delay="300" data-aos-once="true"></i>
                    <p>Toyota Astra Motor</p>
                </div>
            </div>
        </div>
    </section>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <script src="/creative.js"></script>
    <script src="/bs-animation.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
    <script id="bs-live-reload" data-sseport="50696" data-lastchange="1575553872939" src="/js/livereload.js"></script>
</body>

</html>